<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.room.draw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.room.draw.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.room.draw.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.room.draw.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".DormSelectionActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".RoomSelectionActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".DashboardActivity" android:theme="@style/AppTheme.Dark" />
    </application>
</manifest>
